.burger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 44px;
}

.burger-container .burger-child {
  -webkit-transform-origin: 1px center;
          transform-origin: 1px center;
  border-radius: 1000px;
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.burger-container .burger-child:not(:last-child) {
  margin-bottom: 5px;
}

.b-c__a .burger-child:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.b-c__a .burger-child:nth-child(2) {
  opacity: 0;
}

.b-c__a .burger-child:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
