.er-mess {
  border-radius: 8px;
  border: solid 1px var(--main-red);
  text-align: center;
  display: block;
  background-color: rgba(136, 49, 63, 0.24);
  width: 60%;
  padding: 1em;
  font-size: .8em;
  color: var(--main-red);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}
