.ad-cont {
    background-color: red;
    width: 100%;
    border-radius: 12px;
    height: fit-content;
    position: relative;
    &-header {
        height: fit-content;
        box-sizing: content-box;
        &_head {
            margin-bottom: 1em;
            &-ls {
                span {
                    margin-left: 1em;
                }
            }
        }
    }
    &-body {
        background-color: rgb(15, 15, 15);
        flex-grow: 1;
        &_details {
            background-color: rgba(176, 180, 185, .25);
            cursor: default;
            &-web {
                text-transform: uppercase;
                margin-bottom: .5em;
            }
            &-title {
                display: flex;
                align-items: flex-end;
                span {
                    padding-right: 1em;
                }
            }
        }
        .show-me {
            &:hover {
                &::after {
                    opacity: 1;
                }
                &::before {
                    opacity: 1;
                }
            }
            &::after {
                content: '';
                position: absolute;
                top: 33%;
                left: 4%;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                border: solid 2px red;
                z-index: 999;
                opacity: 0;
                transition: .3s;
            }
            &::before {
                content: 'Me';
                text-align: center;
                position: absolute;
                top: 20%;
                left: -3%;
                width: 40px;
                height: 40px;
                z-index: 999;
                color: #fff;
                font-size: 20px;
                border-radius: 20px;
                padding: 0 2em;
                background-color: var(--main-blue);
                clip-path: polygon(0 85%, 0 0, 100% 0, 100% 85%, 65% 85%, 50% 100%, 35% 85%);
                opacity: 0;
                transition: .3s;
            }
        }
        &_picture {
            min-height: 235px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            img {
                width: 100%;
            }
        }
    }
    &-footer {
        height: 4.6875em;
        margin-top: .5em;
        box-sizing: content-box;
        &_interact {
            padding-top: 1em;
            &-btns {
                &::after {
                    padding: .3em 0;
                    border-radius: 5px;
                }
                width: 33.33%;
                align-items: center;
                justify-content: center;
                i {
                    margin-right: 10px;
                }
            }
        }
        &_state {
            padding-bottom: 1em;
            &-likes {
                span {
                    margin-left: .5em;
                }
            }
        }
    }
}

.like {
    background-image: url("../../../assets/fb-icons.png");
    background-size: 25px 1276px;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    background-position: 0 -288px;
}

.comment {
    background-image: url("../../../assets/fb-icons.png");
    background-size: 25px 1276px;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    background-position: 0 -212px
}

.share {
    background-image: url("../../../assets/fb-icons.png");
    background-size: 25px 1276px;
    background-repeat: no-repeat;
    display: block;
    width: 18px;
    height: 18px;
    background-position: 0 -345px;
    filter: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(50%) contrast(96%);
}

.s16x16 {
    width: 16px;
    height: 16px;
}

.user-profile {
    display: block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: rgb(114, 115, 119);
    overflow: hidden;
}